.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
  box-shadow: 2px 1px 2px #eee;
  box-sizing: border-box;
}

.nav img {
  padding: 20px;
}
.nav-items {
  display: flex;
  justify-content: space-around;
}

.nav-items span {
  display: flex;
  justify-content: space-between;
  padding: 20px;

  font-weight: 500;
  color: #666;
  font-size: 17px;
  font-family: serif;
  box-sizing: border-box;
}

.hero-section {
  display: flex;
  flex-direction: column;
}

.hero-section img {
  display: flex;
  justify-content: center;
  margin: auto;
  max-width: 100%;
  margin: 0 auto;
  padding-top: 65px;
  margin-bottom: 60px;
  max-height: 45vh;
}

.heading-section {
  text-align: center;
}

.heading {
  font-size: 50px;
  line-height: 1.25;
  margin-top: 0px;
  font-weight: 500;
  font-family: serif;
  color: #424242;
}

.para {
  color: #424242;
  font-size: 20px;
  font-weight: 400;
  font-family: "Inter", serif;
  margin-top: -15px;
  padding-bottom: 10px;
}

.btn {
  width: max-content;
  margin: 0 auto;
  text-align: center;
  background-color: #387ed1;
  color: #fff;
  padding: 10px 30px;
  text-align: center;
  font-size: 1.2em;
  line-height: 1.2em;
  font-weight: 500;
  text-decoration: none;
  border-radius: 3px;
  text-decoration: none;
}

.btn:hover {
  border: 1px solid rgba(0, 0, 0, 0);
  background: #222;
  color: #fff;
}
